# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
logs

# other
eclipse
FILES
/Minecraft
run-server

# fabric
run/
remappedSrc/
.vscode/
