/run
/server
/run2
# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

FILES
libs
/Minecraft
run-server
run-server-client
test_run
logs
Dockerfile
*/src/generated/resources/.cache
.metals
.vscode
/bin
