build/
*.ipr
run/
runs/
run-server/
*/Minecraft/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/
logs/

.classpath
.project
.idea/*
!.idea/icon.png
classes/
.metadata
.vscode
.metals/
.settings
*.launch
.cache
.DS_Store
.architectury-transformer
