*
!.gitignore
!gameteststructures
!gameteststructures/data
!gameteststructures/data/quarryplus
!gameteststructures/data/quarryplus/structure
!gameteststructures/data/quarryplus/structure/*.snbt
!server.properties
